{% if ENUM %}
[JsonConverter(typeof({{CLASS_NAME}}JsonConverter))]
public enum {{CLASS_NAME}}
{
    {% for enum_name, enum_value in enum.items() %}
    {{enum_name}}{% if not loop.last %},{% endif %}

    {% endfor %}
}

public class {{CLASS_NAME}}JsonConverter : JsonConverter<{{CLASS_NAME}}>
{
    private static readonly Dictionary<string, {{CLASS_NAME}}> StringToEnum = new Dictionary<string, {{CLASS_NAME}}>
    {
        {% for enum_name, enum_value in enum.items() %}
        { "{{enum_value}}", {{CLASS_NAME}}.{{enum_name}} }{% if not loop.last %},{% endif %}
        {% endfor %}
    };

    private static readonly Dictionary<{{CLASS_NAME}}, string> EnumToString = new Dictionary<{{CLASS_NAME}}, string>
    {
        {% for enum_name, enum_value in enum.items() %}
        { {{CLASS_NAME}}.{{enum_name}}, "{{enum_value}}" }{% if not loop.last %},{% endif %}
        {% endfor %}
    };

    public override void WriteJson(JsonWriter writer, {{CLASS_NAME}} value, JsonSerializer serializer)
    {
        writer.WriteValue(EnumToString[value]);
    }

    public override {{CLASS_NAME}} ReadJson(JsonReader reader, Type objectType, {{CLASS_NAME}} existingValue, bool hasExistingValue, JsonSerializer serializer)
    {
        string stringValue = (string)reader.Value;
        return StringToEnum[stringValue];
    }
}
{% else %}
[Serializable]
{% if SUB_CLASSES %}
[JsonConverter(typeof(JsonSubtypes), "type")]
{% endif %}
{% for subclass in SUB_CLASSES %}
[JsonSubtypes.KnownSubType(typeof({{subclass[0]}}), "{{subclass[1]}}")]
{% endfor %}
public class {{CLASS_NAME}}{% if EXTENDS %} : {{EXTENDS}}{% endif %}{% if IMPLEMENTS %} : {{IMPLEMENTS}}{% endif %}
{
    {% for property, info in properties.items() %}
    {% set escaped_property = info.ESCAPED_PROPERTY_NAME if info.ESCAPED_PROPERTY_NAME else property %}
    {% if info.TYPE.modifier and info.TYPE.modifier == "const" %}
    public {{info.TYPE.modifier}} {{info.TYPE.type}} {{escaped_property}}{% if info.TYPE.init %} = {{info.TYPE.init}}{% endif %};{{info.TYPE.comment}}
    {% else %}
    {% set pascal_property = (info.INTERFACE_PROPERTY_NAME if info.IS_INTERFACE_PROPERTY else (escaped_property|snake_to_pascal)) %}
    [JsonProperty("{{property}}")]
    public {{info.TYPE.type}} {{pascal_property}} { get; set; }{% if info.TYPE.init %} = {{info.TYPE.init}};{% endif %}{{info.TYPE.comment}}
    {% endif %}
    {% endfor %}
    public {{CLASS_NAME}}({% for property, info in constructor_properties.items() %}{{info.TYPE.type}} {% if info.ESCAPED_PROPERTY_NAME %}{{info.ESCAPED_PROPERTY_NAME}}{% else %}{{property}}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}){% if EXTENDS %}: base({% for property, info in BASE_PROPERTIES.items() %}{% if info.ESCAPED_PROPERTY_NAME %}{{info.ESCAPED_PROPERTY_NAME}}{% else %}{{property}}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %})
    {% endif %}
    {
        {% for property, info in properties.items() %}
        {% set escaped_property = info.ESCAPED_PROPERTY_NAME if info.ESCAPED_PROPERTY_NAME else property %}
        {% set pascal_property = (info.INTERFACE_PROPERTY_NAME if info.IS_INTERFACE_PROPERTY else (escaped_property|snake_to_pascal)) %}
        {% if not info.TYPE.modifier or info.TYPE.modifier != "const" %}
        this.{{pascal_property}} = {{escaped_property}};
        {% endif %}
        {% endfor %}
{%- if validation_code %}

        // Validate fields
{% for validation_line in validation_code %}
        {{validation_line}}
{% endfor -%}
{%- endif %}
    }
    {% if constructor_properties %}
    // Parameterless constructor for Unity editor and serialization
    public {{CLASS_NAME}}() { }
    {% endif %}
}
{% endif %}
