[Serializable]
{% if SUB_CLASSES %}
[JsonConverter(typeof(JsonSubtypes), "type")]
{% endif %}
{% for subclass in SUB_CLASSES %}
[JsonSubtypes.KnownSubType(typeof({{subclass[0]}}), "{{subclass[1]}}")]
{% endfor %}
public class {{CLASS_NAME}}{% if EXTENDS %} : {{EXTENDS}}
{% endif %}
{
    {% for property, info in properties.items() %}
    public {{info.TYPE}} {{property}};
    {% endfor %}
    public {{CLASS_NAME}}({% for property, info in constructor_properties.items() %}{{info.TYPE}} {{property}}{% if not loop.last %}, {% endif %}{% endfor %}){% if EXTENDS %}: base({% for property, info in BASE_PROPERTIES.items() %}{{property}}{% if not loop.last %}, {% endif %}{% endfor %})
    {% endif %}
    {
        {% for property, info in properties.items() %}
        this.{{property}} = {{property}};
        {% endfor %}
    }    
}

